*
!*/

!/.gitignore
!/.github/**
!/.gitattributes
!/README.md
!/LICENSE.md

!/Haikara/Packages/**
!/Haikara/ProjectSettings/**
!/Haikara/Assets/Haikara/**
!/Haikara/Assets/Haikara.meta**
!/Haikara/Assets/Settings/**
!/Haikara/Assets/Settings.meta**
!/Haikara/Assets/UI Toolkit/**
!/Haikara/Assets/UI Toolkit.meta**
!/Haikara/Assets/Resources/UICatalog.asset
!/Haikara/Assets/Resources/UICatalog.asset.meta
!/Haikara/Assets/Haikara.Tests/**
!/Haikara/Assets/Haikara.Tests.meta
!/Haikara/Assets/HaikaraDev/**
!/Haikara/Assets/HaikaraDev.meta

!/Haikara.Shared/**
/Haikara.Shared/bin
/Haikara.Shared/obj

!/Haikara.SourceGenerator/Haikara.SourceGenerator.sln
!/Haikara.SourceGenerator/Haikara.SourceGenerator/**
/Haikara.SourceGenerator/Haikara.SourceGenerator/bin
/Haikara.SourceGenerator/Haikara.SourceGenerator/obj

!/Haikara.SourceGenerator/Haikara.Runtime.ForTests/**
/Haikara.SourceGenerator/Haikara.Runtime.ForTests/bin
/Haikara.SourceGenerator/Haikara.Runtime.ForTests/obj

!/Haikara.SourceGenerator/Haikara.SourceGenerator.Tests/**
/Haikara.SourceGenerator/Haikara.SourceGenerator.Tests/bin
/Haikara.SourceGenerator/Haikara.SourceGenerator.Tests/obj
/Haikara.SourceGenerator/Haikara.SourceGenerator.Tests/**/*.received.*

!/Haikara.Tools/**
/Haikara.Tools/bin
/Haikara.Tools/obj

*.DotSettings